<section >
    <div class="container">
        <div class="row">
            <table class="table table-bordered" id="userTable">
                <thead>
                    <tr>
                    <th>Date</th>
                    
                    <th>Status</th>
                    <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>{{this.date}}</td>
                        
                        <td>
                         <select name="status" id="status{{this._id}}" class="betaButton" onchange="setStatus('{{this._id}}')" >
                          <option value="{{this.status}}">{{this.status}}</option>
                          <option value="ordered">ordered</option>
                          <option value="approved">approved</option>
                          <option value="cancelled">cancelled</option>
        <option value="shipped">shipped</option>
         <option value="out for delivery">Out for delivery</option>
           <option value="Delivered">Delivered</option>
      </select>
 
                        </td>
                        <td>
                            <p>
  <button class="betaButton" data-toggle="collapse" data-target="#1{{this._id}}" type="button" onclick="userDetails('{{this.userId}}','{{this._id}}')" aria-expanded="false" aria-controls="multiCollapseExample1" style="
    width: 8rem;
"> User details</button>
  <button class="betaButton" type="button" data-toggle="collapse" data-target="#2{{this._id}}" aria-expanded="false" aria-controls="multiCollapseExample2" style="
    width: 8rem;
">Order details</button>
<a href="/admin/remove-order?id={{this._id}}"><i class="fa fa-close" style="
    font-size: 2rem;
    padding-left: .5rem;
    position: absolute;
    color: #c90606;
" ></i></a>

  
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="1{{this._id}}">
      <div class="card card-body">
        <h6>Name:</h6><span id="name{{this._id}}"></span><br>
        <h6>Email:</h6><span id="email{{this._id}}"></span>
        
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="2{{this._id}}">
      <div class="card card-body">
        <h5>Address:{{this.deliveryDetails.address}}</h5><br>
        <h5>Pincode:{{this.deliveryDetails.pincode}}</h5><br>
        <h5>Mob.No:{{this.deliveryDetails.mobile_No}}</h5><br>
        <h5>Payment:{{this.payment_Method}}</h5><br>
        <h5>Amount:{{this.totalAmount}}</h5><br>
        <h5>Status:{{this.status}}</h5><br>
        <a href="/admin/ordered-products?id={{this._id}}">Products</a>

      </div>
    </div>
  </div>
</div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>