<section class="cart">
    <div class="container">
        {{#if total}}
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th>Items</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub total</th>
                    <th></th>
                </tr>
            </thead>
            
            {{#each products}}
            <tbody>
                
                <tr id="tr{{this.product._id}}">
                <td><img class="Image" src="/product-images/{{this.product._id}}.jpg" style="width: 50px;height: 60px;" alt=""></td>
                <td>{{this.product.productname}}</td>
                <td>
                    {{#each ../categories}}
                   
                {{#ifCond ../this.product.category this._id}}
                  {{#if this.offer}}
                  <strike> <h6 class="text-start"> ₹{{../this.product.price}}</strike>&nbsp;₹{{#off ../this.product.price this.offer}}{{/off}}</h6> 
                 
                  {{else}}
                  <h6 class="text-start"> ₹{{../this.product.price}}</h6>
                  {{/if}}
                  

                {{/ifCond}}
              {{/each}}
                   </td>
                
                <td><button class="cart-item-count ml-3 betaButton btn-sm"  id="neg-btn{{this.product._id}}"  onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1,'{{this.quantity}}')" style="width: 3rem;">-</button><span class="badge badge-light"   id="spn{{this.product._id}}">{{this.quantity}}</span><button class="cart-item-count mr-3 betaButton btn-sm"  onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1,'{{this.quantity}}')" style="width: 3rem;">+</button></td>
                <td>
                       {{!-- {{#each ../categories}}
                   
                {{#ifCond ../this.product.category this._id}}
                  {{#if this.offer}}
                    <span id="subTotal">₹{{#off ../this.product.price this.offer}}{{/off}}</span> 
                 
                  {{else}} --}}
                  <span id="subTotal{{this.product._id}}">₹{{this.subTotal}}</span>
                  {{!-- {{/if}}
                  

                {{/ifCond}}
              {{/each}} --}}
                    </td>
                <td><button  onclick="productDelete('{{this.product._id}}','{{this._id}}','{{this.product.productname}}')"class="betaButton">remove</button></td>
                
                </tr>
                <tr><div class="text-center text-success" ><h4 id="delete-msg"class="font-italic"></h4></div></tr>
                
            </tbody>
            {{/each}}
        </table>
        <hr>
        <div class="float-right pr-5">
        
        <h3 class="float-right mr-5">Total:Rs. <span id="total">{{total}}</span> </h4><br>
        <a href="/place-order"class="betaButton  mt-3"style="text-decoration: none;
    background: black;
    color: white;   
     text-decoration: none;
    background: black;
    color: white;
    padding: 1rem;
    position: absolute;
    transform: translate(10px, 5px);
    height: 4rem;"><b>Place Order</b></a>
    </div>
        {{else}}
        <div class="container">
            <span class=" text-center">
                <h3 class="font-bold">Nothing here!</h3>
            </span>
        </div>
        {{/if}}
    </div>
    
    
</section>
