<section class="orders">
  
<table class="table table-bordered mt-5" id="userTable"style="margin-left:5rem;border:0">
  <thead>
    <tr>
     
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
     
      <th scope="col">Status</th>
      <th scope="col">Products</th>
       <th scope="col" style="
    width: 19rem;
">Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
     
    
      <td scope="row">{{this.date}}</td>
      <td scope="row">{{this.totalAmount}}</td>
   
      <td scope="row"  id="status{{this._id}}" >{{this.status}}</td>
      <td>
        {{#each this.products.products}}
        {{#each ../../products}}
       

        {{#eq this._id ../this.item}}
      
        <li>{{this.productname}}</li> 
        
        
      
        {{/eq}}
        {{/each}}
        {{/each}}</td>
      <td scope="row"><a href="/orderProducts?id={{this._id}}"class="btn betaButton" style="height: 46px;padding-top: 8px;">View Products</a>
     <span class="btn betaButton"  onclick="setStatus('{{this._id}}')"  style="cursor: pointer;height: 46px;padding-top: 8px;">
      Request cancel order
      </span>
     </td>
      
    </tr>
    {{/each}}
  </tbody>
</table>
</section>
<style>
  th{
        width: 8rem;
}
</style>