<section>
  
<table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Address</th>
      <th scope="col">Pincode</th>
      <th scope="col">Mobile</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment</th>
      <th scope="col">Status</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <th scope="row">{{this.deliveryDetails.Date}}</th>
      <td scope="row">{{this.deliveryDetails.address}}</td>
      <td scope="row">{{this.deliveryDetails.pincode}}</td>
      <td scope="row">{{this.deliveryDetails.mobile_No}}</td>
      <td scope="row">{{this.totalAmount}}</td>
      <td scope="row">{{this.payment_Method}}</td>
      <td scope="row">{{this.status}}</td>
      
      <td scope="row"><a href="/orderProducts?id={{this._id}}"class="btn btn-primary">Products</a></td>
      
    </tr>
    {{/each}}
  </tbody>
</table>
</section>