<section>
 <div class="container mt-5">
        
      <div class="row">
        {{#each products}}
        <div style="margin-top:6px;"class="col-md-3">
    <div id="card" class="card p-5em mt-7" style="width: 14rem;">
  <img class="card-img-top" src="/product-images/{{this.product._id}}.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 id="card-name" class="card-title">{{this.product.productname}}</h5>
    <p id="card-text" class="card-text">{{this.product.discription}}</p>
    <p class="card-text">Rs.{{this.product.prize}}</p>
    <button class="btn btn-primary" onclick="addToCart('{{this.product._id}}')">add to cart</button>
    <button class="remove-btn float-right" onclick="removeWish('{{this.product._id}}')">x</button>
  </div>
  </div>
  </div>
 {{/each}}
  </div>
   
  </div>
</section>